{{ .Scratch.Set "image" "" }}

{{ $featured_image := .Params.featured_image | default .Site.Params.featured_image }}

{{ if (not (eq (slicestr $featured_image 0 1) "/")) }}
  {{ .Scratch.Add "image" .Page.Dir }}
{{ end }}

{{ .Scratch.Add "image" $featured_image }}
<header class="cover bg-top" style="background-image: url('{{ .Scratch.Get "image" | absURL }}');">
  <div class="pb3-m pb6-l bg-black-60">
    {{ partial "site-navigation.html" . }}
    <div class="tc-l pv6 ph3 ph4-ns">
      <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title }}</h1>
      {{ with .Params.description  }}
        <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
          {{ . }}
        </h2>
      {{ end }}
    </div>
    <div id="logos">
      <a href="/" title="ACELS">
        {{ partial "svg/acels.svg" (dict "size" "4em")}}
      </a>
      <a href="//acya.org.au" title="Australia-China Youth Association">
        {{ partial "svg/acya.svg" (dict "size" "4em") }}
      </a>
      <a href="/pages/summits/2019-perth" title="ACELS Perth 2019">
        {{ partial "svg/perth.svg" (dict "size" "4em")}}
      </a>
    </div>
  </div>
</header>
