<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.BaseURL }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ .Site.Title }}
    </a>
    <div class="flex-l items-center">
      {{ if .Site.Menus.main }}
        <ul class="pl0 mr3">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
          <li class="list f5 f4-ns fw4 dib pr3 sub-menu{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
            <a href="{{.URL}}" class="hover-white no-underline white-90">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li {{if $currentPage.IsMenuCurrent "main" . }} class="list f5 f4-ns fw4 dib pr3 active"{{end}}>
                  <a href="{{.URL}}" class="hover-white no-underline white-90"> {{ .Name }} </a>
                </li>
                {{ end }}
            </ul>
          {{else}}
            <li class="list f5 f4-ns fw4 dib pr3">
            <a href="{{.URL}}" class="hover-white no-underline white-90">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
          {{end}}
          </li>
          {{end}}
        </ul>
      {{ end }}
      {{ partial "social-follow.html" . }}
    </div>
  </div>
</nav>


