<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {{ if .Params.featured_image }}
        {{ .Scratch.Set "image" "" }}
        {{ if (not (eq (slicestr .Params.featured_image 0 1) "/")) }}
          {{ .Scratch.Add "image" .Dir }}
        {{ end }}
        {{ .Scratch.Add "image" .Params.featured_image }}
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          <a href="{{.URL}}" class="db grow">
            <img src="{{ .Scratch.Get "image" | absURL }}" class="img" alt="image from {{ .Title }}">
          </a>
        </div>
      {{ end }}
      <div class="blah w-100{{ if .Params.featured_image }} w-60-ns pl3-ns{{ end }}">
        <h1 class="f3 fw1 athelas mt0 lh-title">
          <a href="{{.URL}}" class="color-inherit dim link">
            {{ .Title }}
            </a>
        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
          <a href="{{.URL}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{$.Param "read_more_copy" | default "read more" }}</a>
        {{/* TODO: add author
        <p class="f6 lh-copy mv0">By {{ .Author }}</p> */}}
      </div>
    </div>
  </div>
</article>