.facebook, .twitter, .instagram, .youtube, .github, .linkedin, .weibo {
  fill: #BABABA;
}
.facebook:hover {
  fill: #3b5998;
}
.twitter:hover {
  fill: #1da1f2;
}
.instagram:hover {
  fill: #e1306c;
}
.youtube:hover {
  fill: #cd201f;
}
.github:hover {
  fill: #6cc644;
}
.linkedin:hover {
  fill: #0077b5;
}
.weibo:hover {
  fill: #df2029;
}
svg#acya, svg#perth, svg#acels {
  fill: #BABABA;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: -4em;
}

svg#acya:hover, svg#perth:hover, svg#acels:hover {
  fill: #BE1302;
}

.pr3-ns.mb4.mb0-ns.w-100.w-40-ns {
  margin: 1em auto;
  /*width: 95%;*/
  padding-right: 0;
}

/*ul:hover ul.sub {*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*  position: absolute;*/
/*}*/

ul ul.sub {
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  visibility: hidden;
  display: none;
}
