@import '_tachyons';
@import '_code';
@import '_hugo-internal-templates';
@import '_social-icons';
@import '_styles';

.logo {
  display: inline-block;
}
.logo img {
  width: 140px;
  transition: width 1s;
}
.logo:hover img {
  width: 280px;
}
.logo figcaption {
  display: none;
}
/* .logo:hover figcaption {
  display: auto;
} */
