<div id="sponsors">
    <img src="/images/logos/Schwarzmann Scholars.png" alt="Schwarzmann Scholars">
    <img src="/images/logos/King & Wood Mallesons.png" alt="King & Wood Mallesons">
    <img src="/images/logos/Herbert Smith Freehills.png" alt="Herbert Smith Freehills">
    <img src="/images/logos/Australian Government.svg" alt="Australian Government">
    <img src="/images/logos/Australia-China Council.svg" alt="Australia-China Council">
    <img src="/images/logos/Trade Victoria.png" alt="Trade Victoria">
    <img src="/images/logos/Australia-China Business Council.jpg" alt="Australia-China Business Council">
    <img src="/images/logos/China Studies Centre.jpg" alt="China Studies Centre">
    <img src="/images/logos/Austrade.svg" alt="Austrade">
    <img src="/images/logos/Westpac.png" alt="Westpac">
    <img src="/images/logos/Department of Foreign Affairs and Trade.png" alt="Department of Foreign Affairs and Trade">
    <img src="/images/logos/Geoff Hardy.jpg" alt="Geoff Hardy">
    <img src="/images/logos/Confucius Institute.png" alt="Confucius Institute">
    <img src="/images/logos/The University of Melbourne.png" alt="The University of Melbourne">
    <img src="/images/logos/KPMG.svg" alt="KPMG">
    <img src="/images/logos/Foundation for Australian Studies in China.jpg" alt="Foundation for Australian Studies in China">
    <img src="/images/logos/Australian Studies Centre.png" alt="Australian Studies Centre">
    <img src="/images/logos/ShineWing.png" alt="ShineWing">
</div>